@use "../../../styles/import.scss";

.graphContainer {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;

  &:first-of-type {
    margin-bottom: 5px;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .graph {
    height: 8px;
    background-color: red;
    border-radius: 0 15px 15px 0;
    box-shadow: -1px 3px 3px #40404085;
    transition: all 2s;
    width: 0px;
  }

  .graphDataContainer {
    position: relative;
    max-width: 100%;

    .dataToggle {
      background-color: #bbb9b6;
      padding: 5px;
      position: absolute;
      top: 0.5rem;
      left: 50%;
      transform: translatex(-50%);
      border-radius: 5px;
      top: -2.25rem;
      min-width: 80px;
      max-width: 100%;
      text-align: center;
      display: none;

      &::after {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #bbb9b6;
        left: 50%;
        transform: translateX(-50%);
      }

      .dataText {
        margin: 0;
      }

      &.active {
        display: block;
      }
    }
  }
}
