@use "../../../\(styles\)/import.scss";

.votesContainer {
  border-radius: import.$global-border-radius;
  background-color: import.$placeholder-light-grey;
  padding: import.em(8);
  display: flex;
  align-items: center;
  flex: 1;
}
