@use "../../../\styles/import.scss";

.button {
    border: none;

    &.circle {
        width: fit-content;
        padding: import.em(5);
        border-radius: 50%;
        border: none;
        background-color: import.$placeholder-light-grey;
    }

    &.secondary {
        background-color: unset;
        color: import.$black;
    }
}