@use "../../../\(styles\)/import.scss";

.shadow {
  background: #4444dd;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 0;
}

.expandButton {
  width: fit-content;
  padding: import.em(5);
  border-radius: 50%;
  border: none;
  background-color: import.$placeholder-light-grey;
  transform: translate(-3px, -3px);

  img {
    transition: transform 0.5s;
  }

  &.animated {
    animation: compress linear 0.5s forwards;
  }
  
  &.active {
    animation: expand linear 0.5s forwards;

    img {
      transform: rotate(180deg);
    }
  }
}

@keyframes compress {
  0%, 100% {
    transform: translate(-3px, -3px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
}

@keyframes expand {
  0%, 100% {
    transform: translate(-3px, -3px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
}
