@use "../../../\(styles\)/import.scss";

.expandButton {
  width: fit-content;
  padding: import.em(5);
  border-radius: 50%;
  border: none;
  background-color: import.$place-holder-light-grey;
  position: absolute;
  right: 10px;
  top: 10px;
}
