@use "../../../\(styles\)/import.scss";

.expandButton {
  width: fit-content;
  padding: import.em(5);
  border-radius: 50%;
  border: none;
  background-color: import.$placeholder-light-grey;
  position: absolute;
  right: 5px;
  top: 0;

  img {
    transform: rotate(0deg);
    transition: transform .25s;

    &.active {
      transform: rotate(180deg);
    }
  }
}
