@use "../../../\styles/import.scss";

.wrapper {
  background-color: #BEE0DC;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: import.em(8);
  filter: drop-shadow(0 5px 5px import.$placeholder-drop-shadow);
  overflow: hidden;

  .mainContent {
    @include import.break-point(desktop) {
      display: flex;
      gap: 10px;
      flex: 1;
    }
  }

  .expandableContent {
    display: grid;
    grid-template-rows: 0fr;
    transition: .75s grid-template-rows;
    
    div {
      overflow: hidden;
    }

    &.expanded {
      grid-template-rows: 1fr;
    }

    @include import.break-point(desktop) {
      grid-template-rows: 1fr;
      flex: 1;
    }
  }

  .metricRow {
    display: flex;
    column-gap: import.em(10);
    margin-bottom: import.em(10);

    @include import.break-point(desktop) {
      flex-direction: column;
      gap: 10px;
      flex: .3;
      margin-bottom: 0;
    }
  }
}
