$placeholder-grey: #19c6b8;
$placeholder-dark-grey: #979696;
$placeholder-light-grey: #dedede;
$placeholder-drop-shadow: rgba(0, 0, 0, 0.239);
$placeholder-skeleton: #1adece;
$placeholder-reset-red: #fba5a5;
$placeholder-reset-red-dark: #c37171;
$white: #ffffff;
$black: #000000;
