@use '../../../\styles/import.scss';


.view {
    display: none;

    &.active {
        display: block;
    }

    @include import.break-point(desktop) {
        display: block;
    }
}

.viewSelector {
    display: flex;
    justify-content: space-evenly;

    .selector {
        position: relative;
        margin-top: import.em(20);
        color: import.$black;

        --click-position: 50%;

        &::after {
            width: 0%;
            transition: all .5s;
            content: "";
            position: absolute;
            bottom: 0;
            left: var(--click-position);
            height: 2px;
            background-color: #4444DD;
        }


        &.active::after {
            animation: expandOutward .5s forwards;
        }
    }

    @keyframes expandOutward {
        from {
            width: 0%;
            left: var(--click-position);
            background-color: #4444DD;
        }
        to {
            width: 100%;
            left: 0%;
            background-color: import.$placeholder-dark-grey;
        }
    }
}

.rule {
    margin-top: 10px;
    background-color: #dbdbdb;
}

@include import.break-point(desktop) {
    .viewsContainer {
        display: flex;
        gap: 80px;
    
        .yesterdayView {
            flex: .3;
        }
    
        .todayView {
            flex: .7;
        }
    }
    
    .viewSelector,
    .rule {
        display: none;
    }
}