@use '../../../\styles/import.scss';

.viewSelector {
    display: flex;
    justify-content: space-evenly;

    // &::after {
    //     content: "";
    //     position: absolute;
    //     width: 50%;
    //     transition: all 1s;
    //     left: 0;
    //     height: 100%;
    //     background-color: #4444DD;
    //     border-radius: 32px;
    // }

    .selector {
        position: relative;
        margin-top: import.em(20);
        color: import.$black;

        --click-position: 50%;

        &::after {
            width: 0%;
            transition: all .5s;
            content: "";
            position: absolute;
            bottom: 0;
            left: var(--click-position);
            height: 2px;
            background-color: #4444DD;
        }


        &.active::after {
            animation: expandOutward .5s forwards;
        }
    }

    @keyframes expandOutward {
        from {
            width: 0%;
            left: var(--click-position);
            background-color: #4444DD;
        }
        to {
            width: 100%;
            left: 0%;
            background-color: import.$placeholder-dark-grey;
        }
    }
}

.rule {
    margin-top: 10px;
    background-color: #dbdbdb;
}