@use "../../../styles/import.scss";

.competitor-container {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  background-color: #a4a4a461;

  .more-info-toggle {
    margin: 0;
    margin-right: 5px;
    font-weight: 700;
    cursor: pointer;
    line-height: 1.7;
    font-size: 0.9rem;
  }

  .competitor-image-wrapper {
    text-align: center;
    padding: 8px 0;

    img {
      width: 75%;

      @media (min-width: 767px) {
        width: 94%;
        padding: 5px;
        margin: 0 7px;
        height: 380px;
      }
    }
  }
  .more-info-container {
    background-color: #afccd6;
    box-shadow: 0 8px 5px #00000030;
    display: flex;
    height: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    text-align: left;
    transition: height 0.5s;

    &.show {
      height: 70%;
      border-top: 2px solid #393d38;
    }

    .more-info-body {
      background-color: #d5dcdf;
      padding: 12px;
      border-radius: 5px;
      align-self: center;

      a {
        display: block;
        margin: 15px 0;
        font-weight: 450;
        color: #393d38;

        &:hover {
          text-decoration: none;
        }
      }

      @media (min-width: 767px) {
        padding: 10px;
      }
    }
  }

  @media (min-width: 767px) {
    width: 42%;
  }
}

.vote-button {
  margin-top: 2px;
  margin-bottom: 0;
  font-weight: 600;
  background-color: #00000066;
  border: none;
  border-radius: 5px;
  padding: 5px 11px;
  color: #8bf4f6;
  cursor: pointer;

  &:hover {
    background-color: #00000091;
  }

  @media (min-width: 767px) {
    font-size: 1.2rem;
  }
}

.competitor-title {
  padding: 4px 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0;
  font-size: 1.2rem;
  text-align: left;
  margin-left: 5px;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }
}

.competitor-title-wrapper {
  align-items: center;
}

.competitor-description-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // padding: 10px;
  // max-width: 225px;
  height: 196px;
  // overflow-wrap: normal;
  overflow: auto;
}
