@use "../../../styles/import.scss";

.competitorContainer {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: import.em(5);
  border-radius: 10px;
  position: relative;
  background-color: #a4a4a461;

  .moreInfoToggle {
    margin: 0;
    margin-right: import.em(5);
    font-weight: 700;
    cursor: pointer;
    line-height: 1.7;
    font-size: 0.9rem;
  }

  .imageWrapper {
    text-align: center;
    padding: import.em(10);
  }
  .moreInfoContainer {
    background-color: #afccd6;
    box-shadow: 0 8px 5px #00000030;
    display: flex;
    height: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    text-align: left;
    transition: height 0.5s;

    &.show {
      height: 70%;
      border-top: 2px solid #393d38;
    }

    .moreInfoBody {
      background-color: #d5dcdf;
      padding: import.em(12);
      border-radius: 5px;
      align-self: center;

      a {
        display: block;
        margin: 15px 0;
        font-weight: 450;
        color: #393d38;

        &:hover {
          text-decoration: none;
        }
      }

      @include import.break-point(desktop) {
        padding: import.em(10);
      }
    }
  }

  @include import.break-point(desktop) {
    width: 42%;
  }
}

.voteButton {
  margin-top: import.em(2);
  margin-bottom: 0;
  font-weight: 600;
  background-color: #00000066;
  border: none;
  border-radius: 5px;
  padding: import.em(5) import.em(11);
  color: #8bf4f6;
  cursor: pointer;

  &:hover {
    background-color: #00000091;
  }

  @include import.break-point(desktop) {
    font-size: 1.2rem;
  }
}

.title {
  padding: import.em(4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0;
  font-size: 1.2rem;
  text-align: left;
  margin-left: import.em(5);

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }
}

.competitor-title-wrapper {
  align-items: center;
}

.competitor-description-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 196px;
  overflow: auto;
}
