@use "../../styles/import.scss";

.table {
  width: 100%;
  background-color: rgba(171, 233, 255, 0.371);
  border-collapse: collapse;

  @include import.break-point(desktop) {
    font-size: 1.75rem;
  }
  th {
    text-align: center;
    background-color: rgb(0, 212, 212);
  }

  td {
    background-color: rgba(221, 220, 220, 0.597);
  }

  th,
  td {
    padding-left: import.em(5);
  }
}
