@use "../../../\(styles\)/import.scss";

.wrapper {
  background-color: #BEE0DC;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: import.em(8);
  filter: drop-shadow(0 5px 5px import.$placeholder-drop-shadow);
  overflow: hidden;

  .expandableContent {
    display: grid;
    grid-template-rows: 0fr;
    transition: .75s grid-template-rows;
    
    div {
      overflow: hidden;
    }

    &.expanded {
      grid-template-rows: 1fr;
    }
  }

  .metricRow {
    display: flex;
    column-gap: import.em(10);
    margin-bottom: import.em(10);
  }
}
