@use "../../../\(styles\)/import.scss";

.wrapper {
  background-color: import.$placeholder-grey;
  display: flex;
  flex-direction: column;
  padding: import.em(8);
  border-radius: import.$global-border-radius;
  overflow: auto;
  row-gap: 8px;
  max-height: 600px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: import.em(8);

  button {
    padding: import.em(8);
    border: none;
    background-color: import.$placeholder-grey;
    border-radius: import.$global-border-radius;
  }
}
