html {
  background-color: rgba(227, 222, 210, 0.623);
  color: #393D38;
  }
  
.main-container {
  height: 100%;
  transition: all .5s;
  position: relative;
  top: 0;
  margin-top: 14px;

  &.shift-up {
    top: -40px;
  }

  @media(min-width: 767px){
    margin: 3rem 0;
  }

}

.body {
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0 10vw;
    
  }

