.competition-wrapper {
    margin: 0 2.5rem;
    flex-wrap: wrap;
    display: flex;

    @media(min-width: 767px){
      margin: 0 10rem;
      margin-top: 5rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }
  
.competition-text {
  text-align: center;
}

.competitor-details {
  display: none;
}

.versus-text-wrapper {
  text-align: center;
  margin: 0 auto;

  p {
    margin: 0.25rem 0.75rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}