.competition-wrapper {
    margin: 0 2.5rem;
    flex-wrap: wrap;
  }
  
.competition-text {
  text-align: center;
}

.competitor-details {
display: none;
}

.versus-text-wrapper {
text-align: center;

p {
    margin: 0.75rem;
    font-weight: bold;
}
}