.wrapper {
    margin: 20px 2.5rem;

    h1 {
        font-size: .8rem ;
    }

    .container {
        border-radius: 10px;
        overflow: hidden;
        padding: 10px;
        background-color: #a4a4a461;
    }
}