
footer {
    bottom: 0;
    background-color: #7DBAC2;
    width: 100%;
    height: 50px;
    border-top: 7px solid #b49759;


    .footnote {
        font-size: .5rem;
        text-align: center;
        margin: 16px;
        font-weight: 600;
    }
    
    @media(min-width: 767px){
        border-top: 15px solid #b49759;
        position: fixed;
      }
}