.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.322);
}

.modal-container {
    background-color: white;
    padding: 0;
    min-width: 300px;
    min-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid black;
}

.modal-header {
    text-align: center;
    background-color: rgba(0, 128, 128, 0.487);
    padding: 10px;
    margin-top: 0;
    border-bottom: 1px solid black;
}

.modal-body {
    padding: 20px;
    padding-top: 0;
}