.nav-bar {
  margin-bottom: 15px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 5vh; */
    align-content: center;
    
    .nav-toggle {
      height: fit-content;
      text-decoration: none;

      img {
        position: relative;
        width: 25px;
        height: auto;
        left: 5px;
        top: 4px;
      }
    }
  
    .nav-item {
      padding: 10px;
      margin: 0;
      max-width: 25vw;
      font-size: .75rem;
      font-weight: bold;
      text-decoration: none;
      color: black;
      border-bottom: 5px solid transparent;
      
      @media(min-width: 776px){
          margin: 0 5rem;
          font-size: 2rem;
          font-weight: bold;
      }
    
      &:hover {
        cursor: pointer;
        border-bottom: 5px solid rgb(180, 151, 89);
        color: black;
      }
      &:focus {
        border-bottom: 5px solid rgb(180, 151, 89);
        color: black;
      }
      &:active {
        border-bottom: 5px solid rgb(180, 151, 89);
        color: black;
      }
    
    }
  }