@use "../../\(styles\)/import.scss";

.wrapper {
  background-color: import.$placeholder-grey;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: import.em(8);

  .metricRow {
    display: flex;
    column-gap: import.em(10);
  }
}
