@use "../../../../\(styles\)/import.scss";

.votingBody {
  margin-bottom: import.em(8);
  background-color: import.$placeholder-light-grey;
  padding: import.em(8);
  border-radius: import.$global-border-radius;
  min-height: 150px;
  max-width: 100%;

  p {
    margin-bottom: import.em(30);
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
