.competitorTransition {
  bottom: 0;
  position: relative;
  left: 0;

  &.voting-body-enter {
  }
  &.voting-body-enter-active {
    transition: all 400ms;
    left: 0;
  }
  &.voting-body-exit {
  }
  &.voting-body-exit-active {
    left: -110%;
    transition: all 400ms;
    max-width: 95%;
  }
  &.body-enter {
  }
  &.body-enter-active {
    transition: all 400ms;
  }
  &.body-exit {
  }
  &.body-exit-active {
    transition: all 400ms;
    max-width: 95%;
    left: -110%;
  }
}
