@use "../../\(styles\)/import.scss";

.competitorTransition {
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  width: 95%;
  display: flex;
  justify-content: center;
  background-color: import.$placeholder-grey;
  border-radius: import.$global-border-radius;
  filter: drop-shadow(0px 0px 0px import.$placeholder-drop-shadow);

  &.voting-body-enter {
    opacity: 0;
  }
  &.voting-body-enter-active {
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    opacity: 1;
    filter: drop-shadow(0px 2px 7px import.$placeholder-drop-shadow);
  }
  &.voting-body-enter-done {
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
  }
  &.voting-body-exit {
    opacity: 1;
  }
  &.voting-body-exit-active {
    left: -110%;
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    opacity: 0;
    filter: drop-shadow(0px 2px 7px import.$placeholder-drop-shadow);
  }
  &.body-enter {
    opacity: 0;
    filter: drop-shadow(0px 2px 7px import.$placeholder-drop-shadow);
  }
  &.body-enter-active {
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    opacity: 1;
    filter: drop-shadow(0px 2px 7px import.$placeholder-drop-shadow);
  }
  &.body-enter-done {
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    filter: drop-shadow(0px 0px 0px import.$placeholder-drop-shadow);
  }
  &.body-exit {
    opacity: 1;
  }
  &.body-exit-active {
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    opacity: 0;
    max-width: 95%;
    left: -110%;
    filter: drop-shadow(0px 2px 7px import.$placeholder-drop-shadow);
  }
}
