@use '../../../\(styles\)/import.scss';

.viewSelector {
    display: flex;
    justify-content: space-evenly;

    .selector {
        position: relative;
        margin-top: import.em(20);
        color: import.$black;

        --click-position: 50%;

        &::after {
            width: 0%;
            transition: all 1s;
            content: "";
            position: absolute;
            bottom: 0;
            left: var(--click-position);
            height: 2px;
            background-color: import.$placeholder-light-grey;
        }


        &.active::after {
            animation: expandOutward 1s forwards;
        }
    }

    @keyframes expandOutward {
        from {
            width: 0%;
            left: var(--click-position);
            background-color: import.$placeholder-light-grey;
        }
        to {
            width: 100%;
            left: 0%;
            background-color: import.$placeholder-dark-grey;
        }
    }
}