$base-font-size: 16;

// Convert pixels to em

@function em($pixels, $context: $base-font-size) {
  @return calc($pixels / $context) * 1em;
}

// Convert pixels to rem

@function em($pixels, $context: $base-font-size) {
  @return calc($pixels / $context) * 1rem;
}

/*
    Usage Example:
    .class {
        padding: import.em(16) 0;
        font-size: import.rem(18);
    }
*/
