@use "./functions";

body {
  padding-bottom: functions.em(30);
  background: linear-gradient(0deg, rgb(123 140 163 / 51%), #ffffff00);
}

section {
  margin: functions.em(24) 0;

  &:first-of-type {
    margin-top: functions.em(12);
  }
}

.rotate {
  transform: rotate(225deg) !important;
}
