@use "./functions";

body {
  padding-bottom: functions.em(30);
  background: linear-gradient(
    0deg,
    rgb(91 251 180 / 51%),
    rgba(255, 255, 255, 0)
  );

  main {
    overflow-x: hidden;
  }
}

section {
  margin: functions.em(24) 0;

  &:first-of-type {
    margin-top: functions.em(12);
  }
}

.rotate {
  transform: rotate(225deg) !important;
}
