@use "./functions";
@use "./colors";

body {
  padding-bottom: functions.em(30);
  background: linear-gradient(
    0deg,
    rgb(91 251 180 / 51%),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    overflow-x: hidden;
    flex: 1;
    margin-top: functions.em(12);
  }
}

section {
  margin: functions.em(24) 0;
}

// keyframe animation to rotate the button
.rotate {
  -webkit-animation: rotateOpen 0.25s forwards !important;
  animation: rotateOpen 0.25s forwards !important;
}

//rotate the button

@-webkit-keyframes rotateOpen {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(225deg);
  }
}
@keyframes rotateOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(225deg);
  }
}

hr {
  height: 3px;
  border: none;
  border-radius: 5px;
  background-color: colors.$placeholder-dark-grey;
}
