@use "../../../../\(styles\)/import.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: import.$placeholder-light-grey;
  border-radius: import.$global-border-radius;
  border: none;
  color: import.$black;
  padding: import.em(8);
  position: relative;
  overflow: hidden;

  .text {
    z-index: 1;
  }

  &.vote {
    width: 100%;
    height: 70px;
    background-color: #2bba87;
  }

  &.confirm {
    background-color: #2bba87;
  }

  &.decline {
    background-color: #ff638487;
  }
}
