@use "../../../../\(styles\)/import.scss";

.container {
  background-color: import.$placeholder-light-grey;
  border-radius: import.$global-border-radius;
  padding: import.em(4);
  margin-top: import.em(8);
  position: relative;
  width: 100%;

  &.totalVotes {
    width: fit-content;
    align-self: flex-end;
  }

  &.winner {
    &::before {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      background-image: url("/app/\(bg-images\)/trophy.svg");
    }
  }
}
