@use "../../../../\(styles\)/import.scss";

.container {
  background-color: import.$placeholder-light-grey;
  border-radius: import.$global-border-radius;
  padding: import.em(4);
  margin-top: import.em(8);
  position: relative;
  width: 100%;

  &.totalVotes {
    width: fit-content;
    align-self: flex-end;
    padding-right: import.em(10);
  }

  &.winner {
    --winner-glow: #f4f48f;

    &::before {
      content: "";
      position: absolute;
      height: 26px;
      width: 26px;
      background-image: url("/images/trophy.svg");
      background-repeat: no-repeat;
      background-position: center;
      right: -7px;
      top: -10px;
      animation: rotate 2s infinite;
      box-shadow: 0px 0px 22px 10px var(--winner-glow);
      background-color: var(--winner-glow);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(45deg);
    }

    50% {
      transform: rotate(-45deg);
    }

    100% {
      transform: rotate(45deg);
    }
    
  }
}
