.shadow {
  position: absolute;
  left: 15px;
  z-index: 100;
  width: 91.5%;
  height: 10px;
  background: red;
  bottom: 8px;
  background: -webkit-linear-gradient(0deg, rgb(67 67 67 / 35%), transparent);
  background: linear-gradient(0deg, rgb(67 67 67 / 35%), transparent);
}
