@use "../../../\(styles\)/import.scss";

.timeContainer {
  display: flex;
  align-items: flex-start;
  border-radius: import.$global-border-radius;
  background-color: import.$placeholder-light-grey;
  padding: import.em(8);
  flex-direction: column;
  flex: 1;
}
