@use "../../../../\styles/import.scss";

.body {
  display: flex;
  flex-direction: row;
  padding: import.em(8);
  align-items: center;

  .imageContainer {
    max-width: 100%;
    height: auto;
    flex: 1;
    position: relative;
    aspect-ratio: 16/9;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    align-items: center;
    justify-content: flex-start;

    .profile {
      background: #4444dd;
      border-radius: import.$global-border-radius;
      padding: 0;
      text-decoration: none;
      margin-bottom: import.em(18);
      
      span {
        display: block;
        padding: 8px;
        border-radius: import.$global-border-radius;
        background-color: #ddf9fb;
        color: import.$black;
        transform: translate(-4px, -4px);
      }

      &:active span {
        transform: translate(-2px, -2px);
      }
    }
  }
}