@use "../../../../\styles/import.scss";

.body {
  display: flex;
  flex-direction: row;
  padding: import.em(8);
  align-items: center;

  .imageContainer {
    max-width: 100%;
    height: auto;
    flex: 1;
    position: relative;
    aspect-ratio: 16/9;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}