

.show {
  display: block;
}

.competitor-wrapper {
  display: flex;
  flex-direction: column;
}

.competitor-flip-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .more-info-selection {
//   cursor: pointer;
//   width: fit-content;
//   border-bottom: 3px solid transparent;
//   font-weight: bold;
//   margin-top: 16px !important;
// }
// .more-info-selection:hover {
//   cursor: pointer;
//   border-bottom: 3px solid white;
// }

// .more-info-text {
//   text-align: left;
// }

.details-text {
  margin-right: 15px;
  font-weight: bold;
}
