

.show {
  display: block;
}

.competitor-wrapper {
  display: flex;
  flex-direction: column;
}

.competitor-flip-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-text {
  margin-right: 15px;
  font-weight: bold;
}
