HTML {
  background-color: whitesmoke;
}

.App {
  margin: 0 10vw;
}

.page-title {
  text-align: center;
  margin-bottom: 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
  align-content: center;
}

.nav-item {
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(213, 213, 213);
  margin: 10px;
}

.nav-item:hover {
  background-color: rgb(228, 223, 223);
  cursor: pointer;
}
.nav-item:focus {
  background-color: rgb(228, 223, 223);
}
.nav-item:active {
  background-color: rgb(228, 223, 223);
}

.body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 10vw;
}

@media(min-width: 776px) {
  .competition-wrapper {
    flex-direction: row;
  }
}

.competitor-container {
  margin-top: 50px;
  width: 100%;

}

.competitor-title {
  font-size: 1.5rem;
}

.competition-text {
  text-align: center;
}

.competitor-image-wrapper > img {
  width: 100%;
}

.competitor-details {
  display: none;
}

.show {
  display: block;
}

.competitor-wrapper {
  display: flex;
  flex-direction: column;
}

.competitor-title-wrapper {
  background-color: teal;
}

.competitor-description-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: teal;
}

.more-info-selection {
  cursor: pointer;
  width: fit-content;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}
.more-info-selection:hover {
  cursor: pointer;
  border-bottom: 3px solid white;
}

.more-info-text {
  text-align: left;
}

.competitor-container {
  width: 100%;
  text-align: center;
}

.competitor-container:nth-of-type(1)::after {
  content: 'vs.';
}

table {
  width: 100%;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

th {
  text-align: left;
}
