@use "../../../../\styles/import.scss";

.button {
  background-color: import.$placeholder-light-grey;
  border-radius: import.$global-border-radius;
  border: none;
  width: 100%;
  height: 60px;
  padding: 0;
  color: import.$black;

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 60px;
    border-radius: import.$global-border-radius;
    background: #069f40;
    color: white;
    transform: translate(-4px, -4px);
    overflow: hidden;

    span {
      position: relative;
      z-index: 1;

    }
  }

  &:active .text {
    transform: translate(-2px, -2px);
  }

  &.vote,
  &.confirm {
    background-color: #3e7947;
  }

  &.decline {
    background-color: #c72f50;

    .text {
      background-color: #ff6385;
    }
  }
}