@use "../../../\(styles\)/import.scss";

.header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  position: sticky;
  top: 0;
  background-color: #19c6b861;
  backdrop-filter: blur(15px);
  z-index: 1;
}
