@use "../../../../\(styles\)/import.scss";

.body {
  display: flex;
  flex-direction: row;
  padding: import.em(8);

  .imageContainer {
    max-width: 100%;
    flex: 1;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-left: import.em(10);
    align-items: center;
    justify-content: flex-start;

    .profile {
      margin-bottom: import.em(18);
      color: inherit;
      text-decoration: none;
      padding: import.em(8);
      background-color: import.$placeholder-light-grey;
      border-radius: import.$global-border-radius;
    }
  }
}
